<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    
    <logger name="org.springframework.ai" level="DEBUG"/>
    <logger name="com.google.ai.client.generativeai" level="DEBUG"/>
    <logger name="com.bnk.ai" level="DEBUG"/>
</configuration>